absl-py==1.0.0
cachetools==4.2.4
charset-normalizer==2.0.10
cloudpickle==2.0.0
cycler==0.11.0
cython==0.29.26
fonttools==4.28.5
future==0.18.2
fvcore==0.1.1.dev200512
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.43.0
idna==3.3
importlib-metadata==4.10.0
iopath==0.1.9
kiwisolver==1.3.2
markdown==3.3.6
matplotlib==3.5.1
mock==4.0.3
numpy==1.21.5
oauthlib==3.1.1
opencv-python==4.5.5.62
packaging==21.3
polygon3==3.0.9.1
portalocker==2.3.2
protobuf==4.0.0rc2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools
pydot==1.4.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-levenshtein==0.12.2
pyyaml==6.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
shapely==1.8.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tqdm==4.62.3
urllib3==1.26.8
werkzeug==2.0.2
wheel==0.37.1
yacs==0.1.8
zipp==3.7.0