absl-py
cachetools
charset-normalizer
cloudpickle
cycler
cython
fonttools
future
fvcore
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
iopath
kiwisolver
markdown
matplotlib
mock
numpy
oauthlib
opencv-python
packaging
polygon3
portalocker
protobuf
pyasn1
pyasn1-modules
pycocotools
pydot
pyparsing
python-dateutil
python-levenshtein
pyyaml
requests
requests-oauthlib
rsa
shapely
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tqdm
urllib3
werkzeug
wheel
yacs
zipp